@model LiteraturePortal.ViewModel.BookAndReviewsViewModel
@{
    ViewData["Model"] = "Index";
}
<br />
@Html.Partial("_BookDetailsInReview")
<hr />
<br />

<h2>Review Record</h2>
<div class="form-border row">
    @Html.Partial("_DisplayPastReviews",Model)

    <input type="button" class="btn btn-sm btn-primary" value="Print" onclick="window.print();" />

    <a asp-action="Index" asp-controller="Books" asp-route-userId="@Model.UserId" class="btn btn-sm btn-success">Back to List</a>
</div>
